[user]
  name = Mark Turner
  email = mark@amerine.net
[color]
  diff = auto
  status = auto
  branch = auto
  ui = auto
[core]
  excludesfile = ~/.gitignore
  pager = less -FRSX
  editor = vim
	autocrlf = false
  safecrlf = true
[alias]
  c = commit -m
  a = add
  br = branch
  df = diff
  dfc = diff --cached
  pl = pull
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  ps = push
  ls = ls-files
  co = checkout
  plre = pull --rebase
  st = status -sb
  out = log origin..HEAD
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
[branch]
  autosetupmerge = true
[push]
  default = matching
[branch "master"]
  remote = origin
  merge = refs/heads/master
